:root {
  --background-color: #b4b4b4;
  --text-color: #202020;
  --border-color: rgba(0, 0, 0, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.2);
}

$theme-duration: 0.5s;
$mobile-padding: 1.25rem;
$letter-spacing: 0.015em;
